/*------------COLORS-----------*/

/*
LIGHTGREEN: #96d2b3
DARKGREEN: #005431
RED: #ed1c24
*/

/*----------------------------*/
/*GENERAL*/
/*----------------------------*/
html,
body {
  font-size: 16px;
}

@font-face {
	font-family: "harvestital";
	src: url("../../resources/fonts/harvestitalregular.ttf") format("truetype");
}

/*--------------------------- */
/* BODY */
/*--------------------------- */

/* Header */
.header {
  background-color: #96d2b3;
  max-height: 9.4rem;
  border-bottom: #ed1c24;
}

.header__name,
.header__name--sm {
  font-family: 'harvestital';
  color: #ed1c24;
  letter-spacing: .13rem;
  text-shadow: 1px 1px #ccc;
}

/* .header__name {
  font-size: 3.5rem;
} */

.header__logo {
  max-height: 9.4rem;;
  height: auto;
	z-index: 1;
}

/* Navigation */

.nav__info a.text-secondary:hover,
.nav__social a.text-secondary:hover {
    color: #fff!important;
}

.nav__info a i {
  font-size: 1.3rem;
}

.nav__social a i {
  font-size: 1.5rem;
}

/* News Section */

#carouselArticle,
.carousel-inner,
.carousel-item {
  height: 25rem;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  width: 90%;
  left: 5%;
  right: unset;
}

#carouselArticle .carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.4);
}

.small-img {
  max-height: 200px;
  object-fit: cover;
}

.article__img {
  width: 40%;
  max-height: 250px;
}

.article__text--sm {
  width: 60%;
}

.ad-img {
  max-width: 100%;
  max-height: 21.9rem;
}

.test-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.download {
  z-index: 1000;
  text-shadow: 1px 1px 1px #000;
  top: 0;
  left: 0;
}
