/*------------COLORS-----------*/

/*
LIGHTGREEN: #96d2b3
DARKGREEN: #005431
RED: #ed1c24
*/

/*----------------------------*/
/*GENERAL*/
/*----------------------------*/
html,
body {
  font-size: 16px;
}

@font-face {
	font-family: "harvestital";
	src: url("../../resources/fonts/harvestitalregular.ttf") format("truetype");
}

/*--------------------------- */
/* BODY */
/*--------------------------- */

/* Header */
.header {
  background-color: #96d2b3;
  max-height: 14rem;
  border-bottom: #ed1c24;
}

.header__name,
.header__name--sm {
  font-family: 'harvestital';
  color: #ed1c24;
  letter-spacing: .13rem;
  text-shadow: 1px 1px #ccc;
}

/* .header__name {
  font-size: 3.5rem;
} */

.header__logo {
  max-height: 9.4rem;;
  height: auto;
	z-index: 1;
}

/* Navigation */

.nav__info a.text-secondary:hover,
.nav__social a.text-secondary:hover {
    color: #fff!important;
}

.nav__info a i {
  font-size: 1.3rem;
}

.nav__social a i {
  font-size: 1.5rem;
}

/* News Section */

#carouselArticle,
.carousel-inner,
.carousel-item {
  height: 25rem;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  width: 90%;
  left: 5%;
  right: unset;
}

#carouselArticle .carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.4);
}

.carousel-img {
  object-fit: cover;
}

.small-img {
  max-height: 200px;
  object-fit: cover;
}

.article__img {
  width: 40%;
  max-height: 250px;
}

.article__text--sm {
  width: 60%;
}

.ad-img {
  max-width: 100%;
  max-height: 21.9rem;
}

.ads-sm {
  max-height: 23rem;
}

/* Printed Issue */

.download {
  z-index: 900;
  text-shadow: 1px 1px 1px #000;
  top: 0;
  left: 0;
}

.download-icon {
  font-size: 1.5rem;
}
/* Advertise with us form */

.form-logo {
  background-image: url('../img/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.number {
  display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	font-size: 150%;
	border: 1px solid #000;
	background-color: #96d2b3;
	color: #ed1c24;
}
/* About Us */

.title-h2 {
	font-size: 180%;
	text-align: center;
	color: #ed1c24;
	background-color: #96d2b3;
	padding: 5px 0;
}

.testimonials {
  display: flex;
	background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/tes-5.jpg);
  background-size: cover;
  color: #fff;
  background-attachment: fixed;
	background-position: center;
	justify-content: space-around;
}

.testimonials__item {
	flex-basis: 30%;
}

.testimonials__blockquote {
  line-height: 145%;
}

.testimonials__blockquote:before {
  content: "\201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
}

.testimonials__cite {
  font-size: 90%;
}

.testimonials__img {
  height: 45px;
  vertical-align: middle;
}

.article-previews {
	flex-basis: 30%;
	justify-content: space-around;
	position: relative;
}

.article-previews__img {
  object-position: center;
  object-fit: cover;
  max-height: 12rem;
  min-height: 10rem;
}

.article-previews__text {
  font-weight: 200;
	font-size: 110%;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
}

.single-article__img {
  max-height: 500px;
  object-fit: cover;
  object-position: center;
}

.image-link {
  overflow-wrap: break-word;
}

#carouselArticle, .carousel-inner, .carousel-item {
  height: inherit;
  max-height: 25rem;
}
